*{
    padding: 0;
    margin: 0;
}
#contact{
    background-color: #f3f3f3;
    padding: 50px 20px;
}
#contact h2 {
    text-align: center;
    font-size: 35px;
    margin-bottom: 10px;
}
#contact h2 span {
    color: red;
}
.contact-text {
    text-align: center;
    color: #555;
    margin-bottom: 30px;
}
.contact-box {
    width: 70%;
    margin: auto;
    background-color: white;
    padding: 30px;
    border-radius: 10px;
}
.contact-box form {
    display: flex;
    flex-direction: column;
}



.contact-box label {
    margin-bottom: 5px;
    font-weight: bold;
}
.contact-box input,
.contact-box textarea {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
@media (max-width: 600px) {

    .contact-box {
        width: 100%;
    }

    #contact h2 {
        font-size: 30px;
    }

}